h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    transition:all .7s ease-in-out;
  }

.peliculas img:hover {
    transform: scale(107%);
    box-shadow: 0 0 30px;
  }

  .actores{
    color: rgb(54, 53, 53);
    transition:all .5s ease-in-out;
  }
  .actores:hover{
    color: rgb(34, 71, 128); 
    -webkit-transform:scale(1.02);transform:scale(1.02);
  }
  .pelis:hover{
     
    transform: scale(102%);
  }